@page "/cidades"

<h1>Lista de Cidades</h1>
<div class="table-responsive" id="table">
    <table class="table mb-0">
        <thead>
            <tr>
                <th>CEP</th>
                <th>Cidade</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/pages/cidades.js"></script>
}